$bg_top: #eaedf2;
$border_right: 1px solid #e1e2e4;
$border_left: 1px solid #e1e2e4;
$border_top: 1px solid #e1e2e4;
$border_btm: 1px solid #e1e2e4;
$bg_left: #f1f1f1;
$cellTitle_width: 88px;
$cellInfo_width: 14.2857%;
$cell_height: 50px;
* {
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.5;
  font-size: 14px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.display-flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.text-right {
  text-align: right;
}
#root {
  width: 890px;
}
.bg-top {
  background-color: $bg_top;
}
.bg-left {
  background-color: $bg_left;
}
.title-padding{
  padding: 4px;
}
.title-top {
  height: $cell_height;
  border-bottom: $border_btm;
  div {
    height: 100%;
    div {
      width: $cellInfo_width;
      border-right: $border_right;
    }
  }
}
.title-left {
  width: $cellTitle_width;
  border-right: $border_right;
  border-left: $border_left;
  border-top: $border_top;
  div div {
    width: 100%;
    height: $cell_height;
    border-bottom: $border_btm;
  }
  p {
    margin: 0;
  }
}
.cellInfo {
  height: $cell_height;
  width: $cellInfo_width;
  border-right: $border_right;
  border-bottom: $border_btm;
}
