@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  font-family: Verdana, Arial, "微軟正黑體", "Microsoft JhengHei", "微軟雅黑體", "Microsoft YaHei";
  font-size: 14px;
}

.display-flex {
  display: flex;
}

#root {
  width: 1156px;
  margin: auto;
}

.calender {
  width: 50%;
  flex-direction: column;
  padding: 0 5px;
  overflow: hidden;
}
.calender .switch {
  text-align: right;
  font-size: 16px;
  color: #0077b3;
  cursor: pointer;
}
.calender .calendar-top {
  background-color: #ede9dd;
}
.calender .calendar-top .arrow {
  width: 20px;
  height: 50px;
  position: relative;
}
.calender .calendar-top .arrow:before {
  content: "";
  width: 0;
  height: 0;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  border-color: transparent #e10500 transparent transparent;
}
.calender .calendar-top .arrow.arrow-right:before {
  transform: scaleX(-1);
}
.calender .calendar-top .month-list {
  width: calc(100% - 40px);
  margin: auto;
  justify-content: space-around;
}
.calender .calendar-top .month-list li {
  width: calc(100% / 3);
  text-align: center;
}
.calender .calendar-top .month-list li a {
  display: block;
  height: 50px;
  border-top: 3px solid #ede9dd;
  line-height: 47px;
  text-decoration: none;
  color: #666;
  font-size: 16px;
}
.calender .calendar-top .month-list li a.selected {
  background-color: #fff;
}
.calender .dayMode .weekdays {
  justify-content: space-around;
  font-weight: 600;
  color: #666;
  line-height: 30px;
  text-align: center;
  border-right: #f4f4f4 1px solid;
  border-left: #f4f4f4 1px solid;
}
.calender .dayMode .weekdays .weekday {
  width: calc(100% / 7);
  border-top: #f4f4f4 1px solid;
  border-bottom: #f4f4f4 1px solid;
}
.calender .dayMode .month-days {
  flex-wrap: wrap;
  border-right: #f4f4f4 1px solid;
  border-bottom: #f4f4f4 1px solid;
}
.calender .dayMode .month-days .days {
  width: calc(100% / 7);
  height: 85px;
  border-left: #f4f4f4 1px solid;
  border-bottom: #f4f4f4 1px solid;
  font-size: 12px;
  overflow: hidden;
}
.calender .dayMode .month-days .days:hover {
  background-color: #fff9e3;
}
.calender .dayMode .month-days .days.blank {
  background-color: #f8f8f8;
  border: 1px solid transparent;
}
.calender .dayMode .month-days .days.selected {
  background-color: #fff9e3;
  border: #66bb3c 2px solid;
}
.calender .dayMode .month-days .days .days-this-month {
  position: relative;
  cursor: pointer;
}
.calender .dayMode .month-days .days .days-this-month .datum .date {
  position: absolute;
}
.calender .dayMode .month-days .days .days-this-month .datum .whichWeekDay {
  display: none;
}
.calender .dayMode .month-days .days .days-this-month .more {
  width: 100%;
  position: absolute;
  top: 36px;
  color: #444;
}
.calender .dayMode .month-days .days .days-this-month .more:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 0;
  height: 0;
  border-width: 4px 0 4px 4px;
  border-style: solid;
  border-color: transparent transparent transparent #0077b3;
}
.calender .dayMode .month-days .days .days-this-month .more .text {
  color: #0077b3;
}
.calender .dayMode .month-days .days .days-this-month .more .price {
  color: #e10500;
}
.calender .dayMode .month-days .days .days-this-month .info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.calender .dayMode .month-days .days .days-this-month .info .guaranteed {
  width: 50%;
  height: 20px;
  align-self: flex-end;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
.calender .dayMode .month-days .days .days-this-month .info .guaranteed.guaranteed-y {
  background-color: #fe8400;
}
.calender .dayMode .month-days .days .days-this-month .info .available,
.calender .dayMode .month-days .days .days-this-month .info .total {
  color: #666;
}
.calender .dayMode .month-days .days .days-this-month .info .sign-up,
.calender .dayMode .month-days .days .days-this-month .info .pre-order {
  color: #ff7800;
}
.calender .dayMode .month-days .days .days-this-month .info .waiting {
  color: #1c9c9d;
}
.calender .dayMode .month-days .days .days-this-month .info .close,
.calender .dayMode .month-days .days .days-this-month .info .full {
  color: #999;
}
.calender .dayMode .month-days .days .days-this-month .info .price {
  color: #e10500;
}

.listMode .weekdays {
  display: none;
}
.listMode .month-days {
  flex-flow: column;
  width: 100%;
  border-right: #f4f4f4 1px solid;
  border-bottom: #f4f4f4 1px solid;
}
.listMode .month-days .days {
  height: 62px;
  padding: 5px;
  border: #f4f4f4 1px solid;
  font-size: 12px;
}
.listMode .month-days .days.selected {
  background-color: #fff9e3;
  border: #66bb3c 1px solid;
}
.listMode .month-days .days.no-event {
  display: none;
}
.listMode .month-days .days:hover {
  background-color: #fff9e3;
}
.listMode .month-days .days.blank {
  display: none;
}
.listMode .month-days .days .days-this-month {
  display: flex;
  cursor: pointer;
}
.listMode .month-days .days .days-this-month .datum {
  margin-right: 5px;
  display: flex;
  flex-flow: column;
}
.listMode .month-days .days .days-this-month .datum .date {
  text-align: center;
  font-size: 24px;
}
.listMode .month-days .days .days-this-month .datum .whichWeekDay {
  display: block;
  font-size: 16px;
  white-space: nowrap;
}
.listMode .month-days .days .days-this-month .more {
  width: 60px;
  position: relative;
  display: flex;
  flex-flow: column;
  color: #444;
  white-space: nowrap;
}
.listMode .month-days .days .days-this-month .more:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  width: 0;
  height: 0;
  border-width: 4px 0 4px 4px;
  border-style: solid;
  border-color: transparent transparent transparent #0077b3;
}
.listMode .month-days .days .days-this-month .more .text {
  color: #0077b3;
}
.listMode .month-days .days .days-this-month .more .price {
  color: #e10500;
}
.listMode .month-days .days .days-this-month .info {
  width: 100%;
  position: relative;
  justify-content: space-between;
}
.listMode .month-days .days .days-this-month .info span {
  position: absolute;
}
.listMode .month-days .days .days-this-month .info .guaranteed {
  left: 0;
  bottom: 0;
  padding: 0 5px;
  line-height: 1.5;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.listMode .month-days .days .days-this-month .info .guaranteed.guaranteed-y {
  background-color: #fe8400;
}
.listMode .month-days .days .days-this-month .info .available,
.listMode .month-days .days .days-this-month .info .total {
  color: #666;
  font-size: 14px;
}
.listMode .month-days .days .days-this-month .info .total {
  left: 70px;
}
.listMode .month-days .days .days-this-month .info .status {
  top: 0;
  right: 0;
  font-size: 16px;
}
.listMode .month-days .days .days-this-month .info .status.sign-up {
  color: #ff7800;
}
.listMode .month-days .days .days-this-month .info .status.pre-order {
  color: #ff7800;
}
.listMode .month-days .days .days-this-month .info .status.waiting {
  color: #1c9c9d;
}
.listMode .month-days .days .days-this-month .info .status.close {
  color: #999;
}
.listMode .month-days .days .days-this-month .info .status.full {
  color: #999;
}
.listMode .month-days .days .days-this-month .info .price {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 16px;
  color: #e10500;
}

/*# sourceMappingURL=Calendar.css.map */
