$font-family: Verdana, Arial, "\5FAE\8EDF\6B63\9ED1\9AD4", "Microsoft JhengHei", "\5FAE\8EDF\96C5\9ED1\9AD4",
  "Microsoft YaHei";
$month-list-bg: #ede9dd;
$block-border: #f4f4f4 1px solid;
@mixin calendar-basic-style {
  @content;
  .month-days {
    border-right: $block-border;
    border-bottom: $block-border;
    .days {
      font-size: 12px;
      &.selected,
      &:hover {
        background-color: #fff9e3;
      }
      .days-this-month {
        cursor: pointer;
        .more {
          color: #444;
          &:after {
            content: "";
            position: absolute;
            top: 3px;
            right: 0;
            width: 0;
            height: 0;
            border-width: 4px 0 4px 4px;
            border-style: solid;
            border-color: transparent transparent transparent #0077b3;
          }
          .text {
            color: #0077b3;
          }
          .price {
            color: #e10500;
          }
        }
        .info {
          .guaranteed {
            color: #fff;
            text-align: center;
            &.guaranteed-y {
              background-color: #fe8400;
            }
          }
          .status {
            .available,
            .total {
              color: #666;
            }
            .sign-up,
            .pre-order {
              color: #ff7800;
            }
            &.waiting {
              color: #1c9c9d;
            }
            .close,
            .full {
              color: #999;
            }
          }
          .price {
            color: #e10500;
          }
        }
      }
    }
  }
}

.display-flex {
  display: flex;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  font-family: $font-family;
  font-size: 14px;
}
#root {
  width: 578px;
  margin: auto;
}
.calender {
  width: 100%;
  flex-direction: column;
  padding: 0 5px;
  overflow: hidden;
  .switch {
    text-align: right;
    font-size: 16px;
    color: #0077b3;
    cursor: pointer;
  }
  .calendar-top {
    background-color: $month-list-bg;
    .arrow {
      width: 20px;
      height: 50px;
      position: relative;
      &:before {
        content: "";
        width: 0;
        height: 0;
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: inline-block;
        border-style: solid;
        border-width: 7px 7px 7px 0;
        border-color: transparent #e10500 transparent transparent;
      }
      &.arrow-right {
        &:before {
          transform: scaleX(-1);
        }
      }
    }
    .month-list {
      width: calc(100% - 40px);
      margin: auto;
      justify-content: space-around;
      li {
        width: calc(100% / 3);
        position: relative;
        text-align: center;
        a {
          height: 50px;
          display: block;
          border-top: 3px solid $month-list-bg;
          line-height: 47px;
          text-decoration: none;
          color: #666;
          font-size: 16px;
          &.selected {
            background-color: #fff;
          }
        }
        .no-data {
          width: 100%;
          position: absolute;
          bottom: 0;
          font-size: 13px;
          color: #1c9c9d;
        }
      }
    }
  }
  .dayMode {
    .weekdays {
      justify-content: space-around;
      font-weight: 600;
      color: #666;
      line-height: 30px;
      text-align: center;
      border-right: $block-border;
      border-left: $block-border;
      .weekday {
        width: calc(100% / 7);
        border-top: $block-border;
        border-bottom: $block-border;
      }
    }
    @include calendar-basic-style {
      .month-days {
        flex-wrap: wrap;
        .days {
          width: calc(100% / 7);
          height: 85px;
          border-left: $block-border;
          border-bottom: $block-border;
          overflow: hidden;
          &.blank {
            background-color: #f8f8f8;
            border: 1px solid transparent;
          }
          &.selected {
            border: #66bb3c 2px solid;
          }
          .days-this-month {
            position: relative;
            .datum {
              .date {
                position: absolute;
              }
              .whichWeekDay {
                display: none;
              }
            }
            .more {
              width: 100%;
              position: absolute;
              top: 36px;
            }
            .info {
              display: flex;
              flex-flow: column;
              justify-content: space-between;
              .guaranteed {
                width: 50%;
                height: 20px;
                align-self: flex-end;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}
.listMode {
  .weekdays {
    display: none;
  }
  @include calendar-basic-style {
    .month-days {
      flex-flow: column;
      width: 100%;
      border-right: $block-border;
      border-bottom: $block-border;
      .days {
        height: 62px;
        padding: 5px;
        border: $block-border;
        font-size: 12px;
        &.selected {
          background-color: #fff9e3;
          border: #66bb3c 1px solid;
        }
        &.no-event {
          display: none;
        }
        &:hover {
          background-color: #fff9e3;
        }
        &.blank {
          display: none;
        }
        .days-this-month {
          display: flex;
          .datum {
            margin-right: 5px;
            display: flex;
            flex-flow: column;
            .date {
              text-align: center;
              font-size: 24px;
            }
            .whichWeekDay {
              display: block;
              font-size: 16px;
              white-space: nowrap;
            }
          }
          .more {
            width: 60px;
            position: relative;
            display: flex;
            flex-flow: column;
            white-space: nowrap;
          }
          .info {
            width: 100%;
            position: relative;
            span {
              position: absolute;
            }
            .guaranteed {
              left: 0;
              bottom: 0;
              padding: 0 5px;
              line-height: 1.5;
              border-radius: 3px;
              font-size: 14px;
            }
            .available,
            .total {
              font-size: 14px;
            }
            .total {
              left: 70px;
            }
            .status {
              top: 0;
              right: 0;
              font-size: 16px;
            }
            .price {
              position: absolute;
              right: 0;
              bottom: 0;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .no-data {
    text-align: center;
  }
}
